@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
            @foreach (var blog in Model.Blogs)
            {
                <li>
                    <a href="@blog.Url">@blog.Url</a>
                </li>
            }
    </ol>
</div>
